.home__section {
  position: static; /* make the image fixed and full screen */
  top: 0;
  left: calc(50% - 1920px / 2);
  right: 0;
  width: 100%;
  min-height: 750px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/img/banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transform: scale(1.5);
  animation: moveInside 2s forwards ease-in-out;
}

.home__section-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
  color: ffffff;
}
.home__section-content h1 {
  color: #ffffff;
  line-height: 120%;
  font-size: 180px;
  font-family: "Baloo";
  font-style: normal;
  width: 625px;
  height: 189px;
  font-weight: 400;
}

.home__section-content p {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-family: lato;
  color: #ffffff;
  width: 625px;
  height: 58px;
  font-family: "Montserrat";
}

@keyframes moveInside {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.shop-now-btn {
  background-color: #eaa441;
  color: whitesmoke;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 193px;
  height: 60px;
  left: 50%;
  margin-top: 40px;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .home__section {
    min-height: 500px;
    width: 100%;
    background-position: center;
    transform: scale(1.2);
  }
  .home__section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home__section-content h1 {
    font-size: 80px;
    line-height: 100%;
    font-weight: 600;
  }
  .home__section-content p {
    font-size: 18px;
    width: 90%;
  }
  .shop-now-btn {
    width: 100px;
    height: 50px;
  }
}
/* styles for the next section */

.bottle1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 553px;
  width: 100%;
  background: url(../assets/img/water-drop-impact-linda-wright.jpeg), #3886c7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 20px 5px;
}

.bottle1 h3 {
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-align: center;
  color: #fdfdfd;
  font-style: normal;
  left: calc(50% - 879px / 2 + 0.5px);
}
.bottle1 p {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  width: 75%;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
}
.bottle1 p span {
  font-weight: bold;
}
.our-story-btn {
  align-self: center;
  background-color: #ffffff;
  color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 193px;
  height: 60px;
  left: 50%;
  margin-top: 40px;
}

/* new section styles */
.image-grid {
  width: 100%;
  margin: 10px auto;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.image-item {
  position: relative;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  display: block;
  transition: transform 0.3s;
  object-fit: cover;
}
.image-grid h2 {
  padding: 2rem;
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 24px;
  color: #007bff;
}
.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s;
}
.image-info h3 {
  padding: 2rem;
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 20px;
  color: #007bff;
}
.image-item:hover img {
  transform: translateY(-100%);
}

.image-item:hover .image-info {
  transform: translateY(0%);
}
@media screen and (max-width: 650px) {
  .bottle1 {
    height: 100%;
    padding: 20px;
  }
  .bottle1 h3 {
    font-size: 20px;
    text-align: center;
    line-height: normal;
  }
  .bottle1 p {
    width: 100%;
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
  }
  .bottle1 p > span {
    font-weight: 400;
  }
  .our-story-btn {
    width: 120px;
    height: 40px;
  }
  .image-grid {
    max-width: 600px;
    margin: 20px auto;
  }

  .image-container {
    grid-gap: 10px;
  }
}
/* didomi promise css */
.didomi-promise {
  background-color: #eaa441;
  padding: 20px;
  color: var(--color-white);
  height: 100%;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
}
.didomi-promise img {
  padding: 10px;
}
.didomi-promise h2 {
  font-size: 3rem;
  text-transform: capitalize;
  padding: 15px;
}

.didomi-promise p {
  font-size: 20px;
}
.didomi-promise p span {
  font-weight: bold;
}
.didomi-promise1 {
  display: flex;
  justify-content: space-between;
}

.didomi-promise2 {
  flex-basis: 33.33%;
  margin: 10px;
}

.didomi-promise2 h3 {
  font-size: 4rem;
  font-weight: bold;
}

.didomi-promise2 p {
  font-size: 18px;
}

.our-impact-btn {
  justify-self: center !important;
  align-self: center !important;
  background-color: #ffffff;
  color: #eaa441;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  left: 50%;
  margin: 40px;
  text-align: center;
}
@media (max-width: 600px) {
  .didomi-promise1 {
    flex-direction: column;
  }
  .didomi-promise h2 {
    font-size: 2.2rem;
  }
  .didomi-promise2 h3 {
    font-size: 3rem;
  }

  .didomi-promise2 {
    margin-bottom: 20px;
  }
  .didomi-promise img {
    padding: 15px;
  }
  .our-impact-btn {
    width: 120px;
    height: 40px;
  }
}

/* ImpactSection.css */
/* .impact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  color: #ffffff;
  background-color: #3886c7;
  font-family: "Montserrat Alternates", sans-serif;
}

.impact-section .text-container {
  text-align: center;
  margin-bottom: 50px;
}

.impact-section .text-container > .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  padding: 50px;
  width: 85%;
  text-align: center;
} */

/* .profit-margin {
  font-size: 20px;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 20%;
} */

/* .profit-margin2 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
  margin: 0;
  transform: translate(0, -50%);
  width: 10%;
  text-align: right;
}

.diagram-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
  padding-bottom: 20px;
  position: relative;
}

.pir {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.impact-section,
.revenue-section,
.profit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.impact-title,
.revenue-title,
.profit-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.impact-text,
.revenue-text,
.profit-text {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.image-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.bottle-image {
  width: 100%;
  height: 90%;
  margin: 10px;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 4px;
  background-color: #ffffff;
}

.image-section .bottle-image:first-child::after {
  content: "Revenue";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.image-section .bottle-image:last-child::after {
  content: "Profit";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(0, -50%);
  font-size: 18px;
  font-weight: bold;
}
.image-section .bottle-image:first-child {
  width: 55%; 
  height: auto;
  margin: 10px;
}

.image-section .bottle-image:last-child {
  padding-top: 20px;
  width: 45%; 
  height: auto;
  margin: 10px;
}


.bottle-image {
  position: relative;
}

.bottle-image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.bottle-image .revenue-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottle-image .costs-text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
} */

/* bottle2-section styles  */

.bottle2-section {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat Alternates", sans-serif;
}

.bottle2-left {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.bottle2-left h2 {
  width: 50%;
  padding: 20px;
  color: #eaa441;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 2rem;
}
.bottle2-left p {
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-style: normal;
  padding: 10px;
}
.bottle2-right {
  width: 50%;
  padding: 5px;
}
.bottle2-right img {
  object-fit: cover;
  width: 100%;
}
/* the iframe styles for the youtube video */
iframe {
  padding: 0 32px;
  margin: 0;
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .bottle2-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottle2-left,
  .bottle2-right {
    width: 100%;
    align-items: center;
    justify-self: center;
  }
  .bottle2-right img {
    object-fit: cover;
  }

  iframe {
    padding: 3px;
    margin: 0;
    width: 100%;
    height: 300px;
  }
}
/* bottle3-section styles  */

.bottle3-section {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #3886c7;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.bottle3-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 5px;
  padding-bottom: 40px;
}
.bottle3-left > .quote {
  padding: 0;
  color: #eaa441;
  font-size: 5rem;
  font-weight: bolder;
}
.bottle3-left > .stars {
  padding: 0;
  color: #eaa441;
  font-size: 2rem;
}
.bottle3-left p {
  font-size: 22px;
  text-align: center;
  width: 100%;
  font-style: normal;
  text-transform: capitalize;
}
.bottle3-left h6 {
  font-size: 24px;
  text-align: center;
  width: 100%;
  font-style: italic;
  padding: 15px;
}
.bottle3-right {
  width: 50%;
  padding: 5px;
}
.bottle3-right img {
  object-fit: contain;
  width: 100%;
  height: 390px;
}
.pagination {
  text-align: left;
  margin-top: 10px;
}

.pagination span {
  background-color: white;
  width: 20px;
  height: 2px;
  display: inline-block;
  margin: 0 5px;
}

.pagination span.active {
  background-color: #eaa441;
}

@media (max-width: 768px) {
  .bottle3-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottle3-right {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-self: center;
  }
  .bottle3-left {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 25px;
  }
  .pagination {
    text-align: center;
    margin-top: 10px;
  }
}
/* styles for the updates */
.updates {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 10px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  height: 100%;
  width: 90%;
}

.update {
  padding: 10px;
  border: none;
  text-align: center;
  display: grid;
  place-items: center;
}
.update h2 {
  color: #3886c7;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 2rem;
}
.update p {
  color: #000000;
  font-size: 20px;
  padding: 0 5px;
  text-align: center;
  width: 90%;
}
.update .discover-btn {
  align-self: center;
  background-color: #3886c7;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  left: 50%;
  margin-top: 40px;
}
.update .readmore-btn {
  align-self: center;
  background-color: #ffffff;
  color: #eaa441;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  left: 50%;
  margin-top: 40px;
  border: 1px solid #eaa441;
}
.update h3 {
  color: #3886c7;
  text-decoration: underline;
  font-size: 1.8rem;
  padding: 5px;
}
.update img {
  width: 90%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .updates {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 15px 5px;
  }
  .update p {
    color: #000000;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
  }
  .update img {
    width: 100%;
    height: auto;
  }
}
/* partner styles */

.partner {
  margin: 20px 5px;
  text-align: center;
  height: auto;
  width: 100%;
}
.partner h2 {
  color: #3886c7;
  padding: 40px 0;
  text-transform: capitalize;
}
.pattern-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.partner-image {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.partner-image:hover {
  transform: scale(1.05); /* Enlarge slightly on hover */
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .pattern-container {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .partner-image {
    width: 200px;
    height: auto;
    padding: 20px 0;
  }
}
/* PartnershipSection styles */
.partnership-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
}

.partnership {
  width: 45%;
  text-align: center;
}

.partnership img {
  max-width: 100%;
}

.partnership h3 {
  margin-top: 10px;
  color: #000000;
  font-size: 1.2rem;
  padding: 5px;
}

.partnership p {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: lowercase;
  color: #3886c7;
  font-weight: bold;
  text-align: center;
}

.partnership p span {
  margin-left: 5px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .partnership-section {
    flex-direction: column;
  }
  .partnership {
    width: 90%;
  }
  .partnership p {
    margin-bottom: 20px;
  }
}
/* ====the second last section=========== */

.bottle-image4 {
  position: relative;
  background-image: url(../assets/img/manbottle.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Montserrat Alternates", sans-serif;
}

.bottle-image4 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.bottle-image4 p {
  color: #e1eaf1;
  font-size: 22px;
  width: 80%;
}

.description-column {
  flex-basis: 40%;
  margin: 20px 5px;
  height: 100%;
}

.description-column img {
  width: 100%;
  height: 390px;
  border-radius: 10px;
}
.bottle-image4 .discover-btn {
  align-self: center;
  background-color: #eaa441;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  left: 50%;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .bottle-image4 {
    flex-direction: column;
    padding-top: 20px;
  }
  .description-column {
    flex-basis: 100%;
    width: 100%;
  }
  .bottle-image4 p {
    font-size: 20px;
    width: 100%;
  }
  .description-column img {
    width: 77%;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
  }
}
